# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Xchgeaxeax's Random Stuff
# author:
#   name: Gea

# description: >- # this means to ignore newlines until "baseurl:"
#   Landing page for my socials as well as a place for me to occasionally post project info

domain: xchgeaxeax90.github.io
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://xchgeaxeax90.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
remote_theme: jekyll/minima
plugins:
  - jekyll-feed
  - jekyll-toc

kramdown:
  auto_ids: true

# minima 3.0 renames this to site.minima.nav_pages
minima:
  social_links:
    - title: xchgeaxeax90
      icon: x-twitter
      url: "https://x.com/xchgeaxeax90"
    - title: xchgeaxeax90
      icon: github
      url: "https://github.com/xchgeaxeax90"
    - title: "@xchgeaxeax90.bsky.social"
      icon: bluesky
      url: "https://bsky.app/profile/xchgeaxeax.bsky.social"
  nav_pages:
    - about.markdown

collections:
  posts:
    output: true

future: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
